/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 10px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 24px;
  margin-bottom: 24px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}

/* Color display
-------------------------------------------------- */
.currentcolor {
}

.colorbackground {
  background-color: black;
  background-image: linear-gradient(left , black 50%, white 50%);
  background-image: -o-linear-gradient(left , black 50%, white 50%);
  background-image: -moz-linear-gradient(left , black 50%, white 50%);
  background-image: -webkit-linear-gradient(left , black 50%, white 50%);
  background-image: -ms-linear-gradient(left , black 50%, white 50%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.5, black),
    color-stop(0.5, white)
  );
}

#colordisplay {
  margin-bottom: 2em;
  height: 14em;
  border: 1px solid #eee;
  -webkit-border-radius: 7px 7px 7px 7px;
     -moz-border-radius: 7px 7px 7px 7px;
          border-radius: 7px 7px 7px 7px;
}

#maincurrentcolor {
  position: relative;

  height: 130px;
  top: 26px;

  width: 94%;
  margin-left: -47%;
  left: 50%;

  -webkit-border-radius: 7px 7px 7px 7px;
     -moz-border-radius: 7px 7px 7px 7px;
          border-radius: 7px 7px 7px 7px;

  text-align: center;
  line-height: 130px;
  font-weight: bold;
  font-size: 36px;
}

.colorpreview {
  -webkit-transition: 500ms linear 0s;  
     -moz-transition: 500ms linear 0s;  
       -o-transition: 500ms linear 0s;  
          transition: 500ms linear 0s;  
  color: transparent;
  text-shadow: none;
}

.colorpreview:hover, .colorpreview.hovered {
  -webkit-transition: 100ms linear 0s;  
     -moz-transition: 100ms linear 0s;  
       -o-transition: 100ms linear 0s;  
          transition: 100ms linear 0s;  
  color: black;
  text-shadow: white 1px 1px;
}

/* Color params form
-------------------------------------------------- */
#params {
  text-align: center;
}

#params input {
  width: 100%;
}

#params label {
  font-size: 14px;
  font-weight: bold;
}

/* Color code display
-------------------------------------------------- */
#colorcodes {
  text-align: center;
  height: 3em;
}

#colorcodes span {
  font-size: 13px;
  margin: .5em;
}

/* Similar colors list
-------------------------------------------------- */
.tablecontainer {
  max-height: 320px;
  overflow: scroll;
}

.similarity-table {
  margin-bottom: 0;
}

td.preview-column {
  padding: 0;
}

.similarity-table td {
  border-top: none;
}

.similarity-table th {
  border-bottom: solid 1px #ddd;
}

.similarity-table td, .similarity-table th {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.similarity-table .colorbackground {
  height: 35px;
  margin: 0;
  padding: 0;
}

.colorpreview {
  position: relative;

  height: 26px;
  top: 4px;

  width: 94%;
  margin-left: -47%;
  left: 50%;

  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;

  line-height: 26px;

}

.preview-column a {
  text-decoration: none;
}

.preview-column a:hover {
  text-decoration: none;
}

td.colorname {
  width: 50%;
  vertical-align: middle;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}
